@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');



body {
  @apply bg-[#f68f78]
}

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c78a5c;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}



.rotate {
  transform: rotate(90deg);
}

.trans {
  transition: all ease .2s;
}

.shadowed {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.filtered {
  filter: blur(5px);
}

.poppins {
  font-family: 'Poppins', sans-serif;
  ;
}

.prop{
  background: url(./assets/hero-11-66742-scaled.jpg) no-repeat center ;
  background-size: cover;
}

.shape{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 100%;
  position: relative;
  
}
.home{
  background: linear-gradient(to bottom,
        #fef6f5 0%,
        #fef6f5 50%,
        #f68f78 50%,
        #f68f78 100%);
}

/*  */
.image:hover{
transform: scale(1.2);
  transition: all .5s;
}